Model/Client/Nbp/schema/response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExchangeRatesSeries">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Table"/>
                <xs:element type="xs:string" name="Currency"/>
                <xs:element type="xs:string" name="Code"/>
                <xs:element name="Rates">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Rate">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="No"/>
                                        <xs:element type="xs:date" name="EffectiveDate"/>
                                        <xs:element name="Mid">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:float">
                                                    <xs:minExclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>